.Description {
    margin-top: 40px;
    font-weight: 1000;
    color: #000000 ;
    font-family: system-ui;
    margin-left: 270px;
}

.dec {
    margin-top: 10px;
    margin-left: 50px;
    color: #0000009d;
}
