@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.header{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #00000011;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 5%;
    background: #C2185B   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: #F9629F;
}

.logo{
    width: 40px;
    cursor: pointer;
    margin-left: 0px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.795);
    font-weight: 500;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffffc2;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}

.logoname{
    font-family: "Josefin Sans", sans-serif;
    color:#000000bb;
    margin-right: 1250px;
    color: rgba(255, 255, 255, 0.856);
}